<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings />
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin,editor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <machineKey validationKey="ED8A3FFCDA18E85EF436D388C48E1EE0AFD9F3632F2AA21624E116F8A433E38E80968EDBC9D223AD790C1F284E18AA0AC143785F66CA575A69BD062C63CE3E3C" decryptionKey="6FB36AD020B838A6FDDFB2B6F94998947ED1B614A4D7B514CEA0A68578831C2A" validation="SHA1" decryption="AES" />
    <sessionState timeout="10" />
    <customErrors defaultRedirect="~/Error.aspx" mode="Off" redirectMode="ResponseRewrite">
      <error redirect="~/Error404.aspx" statusCode="404" />
    </customErrors>
    <roleManager enabled="true" defaultProvider="BlogsaRoleProvider">
      <providers>
        <clear />
        <add name="BlogsaRoleProvider" type="BlogsaRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms timeout="129600" name="frmLogin" defaultUrl="~/Admin" loginUrl="Login.aspx" protection="All" cookieless="UseCookies" />
    </authentication>
    <httpRuntime enableVersionHeader="false" useFullyQualifiedRedirectUrl="true" maxRequestLength="999999" executionTimeout="3600" />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="Blogsa" namespace="App_Code.Control" assembly="App_Code" />
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriting" type="UrlRewriting" />
    </httpModules>
    <httpHandlers />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriting" type="UrlRewriting" />
    </modules>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="~/Error404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>