<?xml version="1.0" encoding="utf-8" ?>
<theme>
  <name>Classic</name>
  <description>Blogsa.net tarafından Blogsa v.1 için yapılmıştır.</description>
  <version>1.0.0</version>
  <author>Blogsa.net</author>
  <website>http://www.blogsa.net</website>
  <updateurl>http://www.blogsa.net</updateurl>
  <screenshot>screenshot.jpg</screenshot>
  <folder>Classic</folder>
</theme>