body {
	background:url(../images/green/bk_body.jpg);
}


a {
	color:#699D36;
}

#topMenu ul li a {
	background:url(../images/green/bullet_list.png) 0 2px no-repeat;
}

#topMenu ul li a:hover{
	color:#699D36;
}

.postItem h1 a:hover{
	color:#699D36;
}

.postItem .categs a {
	background:#699D36;
}

.icoAuthor {
	background:url(../images/green/ico_author.png) 0 2px no-repeat;
}

.icoComments {
	background:url(../images/green/ico_comments.png) 0 2px no-repeat;
}