body {
	font-family:Trebuchet MS;
	font-size:12px;
	color:#E7e7e7;
	background-color:#444444;
}

a {
	color:yellow;
	display:inline-block;
}

.errorblock
{
	display:block;
	width:800px;
	border:4px solid #E7e7e7;
	background-color:#f8f8f8;
	padding:15px;	
	margin:0 auto 10px auto;
	position:relative;	
	color:#000;
}

.errorblock .errortitle 
{
	padding-left:40px;
	background-image:url("Images/error.gif");
	background-repeat:no-repeat;
	font-weight: bold;
	font-size: large;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom:1px solid #e7e7e7;
}



.block
{
	display:block;
	width:800px;
	border:4px solid #E7e7e7;
	background-color:#333333;
	padding:15px;	
	margin:0 auto 10px auto;
	position:relative;
}

.block .title {
	font-weight: bold;
	font-size: large;
	display: block;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #ffff00;
}

.block .compleatetitle {
	padding-left:40px;
	background-image:url("Images/ok.gif");
	background-repeat:no-repeat;
	padding-bottom: 10px;
}

.block .steptitle {
	font-weight: bold;
	font-size: large;
	display: block;
	padding-bottom: 10px;
	color: #99ffff;
	padding-left:40px;
	background-image:url("Images/step.gif");
	background-repeat:no-repeat;
}

.block .errortitle {
	float:left;
	font-weight: bold;
	font-size: large;
	display: block;
	padding:5px 20px 20px 0px;
	color: #F88D07;
	padding-left:40px;
	background-image:url("Images/ERROR.gif");
	background-repeat:no-repeat;
	background-position:top left;
}

.errorlabel
{
	color:#ff2222;
	display:block;

}
.successlabel {
	color: #99ff33;
	border: 3px solid #99ff33;
	padding: 5px;
	display: block;
}

.line{
	border:1px solid gray;
	padding:5px;
	background-color:#3C3C3C;
	margin-bottom:5px;
}

.line .input{
	border:1px solid gray;
	font-size:12pt;
	padding:4px;
	font-weight:bold;
	font-family:Trebuchet MS;
	height:22px;
	width:250px;
	vertical-align:middle;
}

.line .label{
	width:200px;
	display:block;
	float:left;
	font-weight:bold;
	font-size:12pt;
	padding:4px;
}
.line .checkbox{
	font-size:12pt;
	padding:4px;
	font-weight:bold;
	font-family:Trebuchet MS;
	height:22px;
	vertical-align:middle;
	display:block;
	margin:0;
}

.toptitle{
	position:absolute;
	right:0;
	bottom:auto;
	top:auto;
	padding:15px;
	font-weight:bold;
	font-size:14pt;
}

.toptitle .setuptitle
{
	color:Yellow;
	display:block;
	margin-top:5px;
	padding-top:5px;
	font-size:14px;
	border-top:1px solid gray;
}

.setuptype{
	text-align:center;
}

.setuptype a{
	border:5px solid #f0f0f0;
}

.setuptype a:hover{
	border:5px solid #666666;
}

.setuptype img:hover
{
	border:3px solid #999999;	
}

.setuptype img{
	border:3px solid #e7e7e7;
}

.linkbutton{
	text-decoration:none;
	background-color:#f4f4f4;
	color:#666;
	font-weight:bold;
	padding:6px 8px;
	display:inline-block;
	border:2px solid #e7e7e7;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
}

.blockbutton
{
	display:block !important;
	text-align:center !important;
}

.linkbutton:hover{
	background-color:#f8f8f8;
	color:#666666;
}

.yes
{
	background-color:#008eb2;
	font-size:10px;
	padding:0 5px;
	color:#fff;
}

.no
{
	background-color:#ff0000;
	font-size:10px;
	padding:0 5px;
	color:#fff;
}

.linkbutton{
	text-decoration:none;
	background-color:#f4f4f4;
	color:#000;
	font-weight:bold;
	padding:6px 8px;
	display:inline-block;
	border:2px solid #e7e7e7;
	text-align:center;
	vertical-align:middle;
	
}

.blockbutton
{
	display:block !important;
	text-align:center !important;
}

.linkbutton:hover{
	background-color:#f8f8f8;
	color:#666666;
}