.bsright {
    float: right;
}

input::-moz-focus-inner /*Remove button padding in FF*/ {
    border: 0;
    padding: 0;
}

.bsbtn {
    display: inline-block;
    color: #555;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font: bold 12px/1em HelveticaNeue, Arial, sans-serif;
    padding: 8px 11px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    border: 1px solid #dedede;
    border-color: #dedede #d8d8d8 #d3d3d3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;
    line-height: 1em;
}
input.bsbtn {
    padding: 0px 11px;
    height: 30px;
}
.bsbtn:hover, .bsbtn:focus {
    color: #555;
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 2px #e0e0e0, inset 0 1px 0 #fbfbfb;
    text-decoration: none;
}
.bsbtn:active {
    position: relative;
    top: 0px;
    color: #555;
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f4f4f4));
    background: -moz-linear-gradient(top, #eaeaea, #f4f4f4);
    border-color: #c6c6c6;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #ddd;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #ddd;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #ddd;
}

input.bsbtn, button.bsbtn {
    width: auto; /* IE7 Fix */
    overflow: visible; /* IE7 Fix */
}

.bsbtn img {
    border: none;
    vertical-align: bottom;
}

.bsbtn.small {
    padding: 5px 11px;
    font-size: 11px;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
input.bsbtn.small {
    padding: 0px;
    font-weight: bold;
    padding: 0px 8px;
    height: 23px;
    overflow: hidden;
    font-size: 11px;
    margin: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.bsbtn.light_blue {
    background: #92dbf6;
    background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3));
    background: -moz-linear-gradient(top, #abe4f8, #6fcef3);
    border-color: #7cbdd5;
    color: #444;
    text-shadow: 0 1px 0 #b6e6f9;
    -webkit-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #c0ebfa;
    -moz-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #c0ebfa;
    box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #c0ebfa;
}
.bsbtn.light_blue:hover, .bsbtn.light_blue:focus {
    background: #85d6f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#b1e9fd), to(#66c6ea));
    background: -moz-linear-gradient(top, #b1e9fd, #66c6ea);
    border-color: #66a8bf;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
}
.bsbtn.light_blue:active {
    background: #92dbf6;
    border-color: #66a8bf;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #66a8bf;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #66a8bf;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #66a8bf;
}

.bsbtn.blue {
    border: 1px solid #4677a7;
    color: #fff;
    background: #4F85BB;
    background: -webkit-gradient(linear, left top, left bottom, from(#4F85BB), to(#4677a7));
    background: -moz-linear-gradient(top, #4F85BB, #4677a7);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #4f91bb;
    -moz-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #4f91bb;
    box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #4f91bb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.bsbtn.blue:hover, .bsbtn.blue:focus {
    background: #206bcb;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e9ee5), to(#206bcb));
    background: -moz-linear-gradient(top, #3e9ee5, #206bcb);
    border-color: #2a73a6 #165899 #07428f;
    -webkit-box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #62b1e9;
    -moz-box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #62b1e9;
    box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #62b1e9;
}
.bsbtn.blue:active {
    background: #3282d3;
    border-color: #154c8c #154c8c #0e408e;
    text-shadow: 0 -1px 1px #1d62ab;
    -webkit-box-shadow: 0 1px 0 0 #fff, inset 0 0 6px 3px #1657b5;
    -moz-box-shadow: 0 1px 0 0 #fff, inset 0 0 6px 3px #1657b5;
    box-shadow: 0 1px 0 0 #fff, inset 0 0 6px 3px #1657b5;
}

.bsbtn.green {
    background: #7fbf4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
    background: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    border-color: #63a62f;
    color: #fff;
    text-shadow: 0 1px 0 #53961e;
    -webkit-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #96d865;
    -moz-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #96d865;
    box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #96d865;
    -webkit-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #88c45c;
    -moz-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #88c45c;
    box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #88c45c;
}

.bsbtn.green:hover, .bsbtn.green:focus {
    background: #76b347;
    background: -webkit-gradient(linear, left top, left bottom, from(#86c755), to(#5ea12a));
    background: -moz-linear-gradient(top, #86c755, #5ea12a);
    border-color: #53961e;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #96d865;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #96d865;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #96d865;
}
.bsbtn.green:active {
    background: #7fbf4d;
    border-color: #53961e;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #53961e;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #53961e;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #53961e;
}

.bsbtn.red {
    background: #e6433d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8674b), to(#d54746));
    background: -moz-linear-gradient(top, #f8674b, #d54746);
    border-color: #d1371c #d1371c #9f220d;
    color: #fff;
    text-shadow: 0 1px 1px #961a07;
    -webkit-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;
    -moz-box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;
    box-shadow: 0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;
}
.bsbtn.red:hover, .bsbtn.red:focus {
    background: #dd3a37;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7858), to(#cc3a3b));
    background: -moz-linear-gradient(top, #ff7858, #cc3a3b);
    border-color: #961a07;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;
}
.bsbtn.red:active {
    background: #e6433d;
    border-color: #961a07;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #961a07;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #961a07;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #961a07;
}

.bsbtn.orange {
    background: #ee8f1f;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5b026), to(#f48423));
    background: -moz-linear-gradient(top, #f5b026, #f48423);
    border-color: #e6791c #e6791c #d86f15;
    color: #fff;
    text-shadow: 0 1px 1px #b85300;
    -webkit-box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #f8d898;
    -moz-box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #f8d898;
    box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #f8d898;
}
.bsbtn.orange:hover, .bsbtn.orange:focus {
    background: #e38512;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbb33), to(#eb7b1a));
    background: -moz-linear-gradient(top, #ffbb33, #eb7b1a);
    border-color: #d0680c;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ffdf9e;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ffdf9e;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #ffdf9e;
}
.bsbtn.orange:active {
    background: #ee8f1f;
    border-color: #d0680c;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #d0680c;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #d0680c;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #d0680c;
}

.bsbtn.yellow {
    background: #f9e327;
    background: -webkit-gradient(linear, left top, left bottom, from(#fceb4c), to(#ebd611));
    background: -moz-linear-gradient(top, #fceb4c, #ebd611);
    border-color: #dcc700 #dcc700 #c2b00b;
    color: #444;
    text-shadow: 0 1px 1px #ffff98;
    -webkit-box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #fee395;
    -moz-box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #fee395;
    box-shadow: 0 1px 2px #d7e9a4, inset 0 1px 0 #fee395;
}
.bsbtn.yellow:hover, .bsbtn.yellow:focus {
    background: #ebd611;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffa58), to(#e1cd00));
    background: -moz-linear-gradient(top, #fffa58, #e1cd00);
    border-color: #cebb10;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #fee395;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #fee395;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #fee395;
}
.bsbtn.yellow:active {
    background: #f9e327;
    border-color: #cebb10;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #cebb10;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #cebb10;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #cebb10;
}

.bsbtn.black {
    background: #525252;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343));
    background: -moz-linear-gradient(top, #5e5e5e, #434343);
    border-color: #4c4c4c #313131 #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 1px #2e2e2e;
    -webkit-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #868686;
    -moz-box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #868686;
    box-shadow: 0 1px 2px #eaeaea, inset 0 1px 0 #868686;
}
.bsbtn.black:hover, .bsbtn.black:focus {
    background: #4b4b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#363636));
    background: -moz-linear-gradient(top, #686868, #363636);
    border-color: #313131;
    -webkit-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #868686;
    -moz-box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #868686;
    box-shadow: 0 0 1px #d6d6d6, inset 0 1px 0 #868686;
}
.bsbtn.black:active {
    background: #525252;
    border-color: #313131;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 5px #313131;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 0 5px #313131;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px #313131;
}
