.commentview{
	display:block;
	width:720px;
	background-color:#f7f7f7;
	margin-bottom:15px;
	border-top:6px solid #d6d6d6;
}
.commentview.small
{
	width:460px;
}
.commentview.small .comment
{
	margin-left:0px;
	font-size:10px;
}
.commentview.small .actionlist
{
	margin-left:43px;
}
.commentview.passive{
	border-color:#0078B6;
}
.commentview.active{
	border-color:#3DB600;
}
.commentview .commentbox{
	margin:10px;
	display:block;
}
.commentview .comment{
	margin-left:80px;
	display:block;
	text-align:left;
	color:#666666;
}
.commentview .avatar{
	background-color:#fff;
	width:64px;
	height:64px;
	display:block;
	float:left;
	border:3px solid #d6d6d6;
}
.commentview .avatar.small
{
	width:32px;
	height:32px;
	border:1px;
}
.commentview .actionlist{
	background:#fff;
	margin-left:80px;
	margin-bottom:5px;
	text-align:left;
	padding:4px;
	font-size:10px;
}
.commentview .actionlist b{
	color:#CC0000;
}
.commentview .info
{
	line-height:22px;
	margin-top:15px;
	border:1px solid #e7e7e7;
	background:#fff;
	text-align:left;
	padding-left:5px;
	clear:both;
}