/*********************
	HTML Elements
*********************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana;
    background: #f7f7f7;
    color: #666666;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #666;
    text-decoration: none;
}

img {
    border: 0;
    margin: 1px;
}

p {
    padding: 3px;
}

input {
    padding: 2px;
}

select {
    padding: 2px;
}

.inputbutton {
    border: 1px solid #b6b6b6;
    background-color: #E7e7e7;
}

.inputlist {
    border: 1px solid #b6b6b6;
    padding: 0;
    margin: 0;
}
/**********************
		PROCESS
***********************/
.dProcess {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    padding: 3px;
    margin: 10px;
    display: block;
}
/*********************
	Structure
*********************/
#container {
    margin: 0 auto 30px auto;
    display: block;
    position: relative;
}

#header {
    display: block;
    position: relative;
    height: 100px !important;
    background: #333;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.logged-box {
    color: White;
    position: absolute;
    top: 6px;
    right: 100px;
    background: #484848;
    padding: 5px;
    font-size: 8pt;
    z-index: 99999;
}

    .logged-box a.closebutton {
        background: url("../Images/Icons/cancel.png") no-repeat;
        display: inline-block;
        height: 16px;
        padding-left: 20px;
        margin: 0 5px;
        color: #fff;
    }

#header .divtitle {
    height: 40px;
    font-size: 12pt;
    font-family: Trebuchet MS;
    color: #f4f4f4;
    display: block;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #333;
    z-index: 99999;
}

.divtitle .title_content {
    background: url("../Images/home.gif") no-repeat 0 5px;
    padding: 5px 5px 5px 40px;
    display: block;
}

#header .blogsalogo {
    background: url("../Images/blogsa-logo.png") no-repeat;
    width: 87px;
    height: 26px;
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
}

.ballon {
    position: absolute;
    width: 27px;
    height: 26px;
    display: block;
    right: 0;
    top: 0;
    margin-top: -10px;
    background: url("../Images/ballon.png") no-repeat;
}

    .ballon span {
        color: #fff;
        font-family: Cambria;
        font-weight: bold;
        display: block;
        text-align: center;
        font-size: 12px;
        cursor: default;
    }

.content {
    width: 740px;
    float: left;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.contenttitle {
    border-left: 10px solid #e2e2e2;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

    .contenttitle span {
        display: block;
        padding: 3px 3px 3px 10px;
        font-size: 16px;
        font-weight: bold;
        color: #294145;
    }

.sidebar {
    background: #FFF;
    width: 170px;
    float: right;
    margin: 10px 0 10px 0;
    padding: 10px;
}

    .sidebar .title {
        padding: 5px;
        font-size: 14px;
        background-color: #f7f7f7;
        border-bottom: 2px solid #e7e7e7;
        font-weight: bold;
        color: #222222;
        margin-bottom: 5px;
    }

    .sidebar .sidecontent {
        padding: 5px 0px 5px 0px;
    }

#footer {
    clear: both;
    padding: 5px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#box h3 {
    padding: 5px;
    font-size: 14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu {
    width: 900px;
    display: block;
    padding-top: 45px;
    height: 25px;
}

    #topmenu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 25px;
    }

    #topmenu li {
        display: inline;
    }

    #topmenu a, #topmenu a:visited {
        padding: 5px 12px 5px 12px;
        text-decoration: none;
    }

#top-panel {
    background: #FFF;
    padding: 5px;
    height: 20px;
    float: left;
    width: 950px;
    margin: 0;
}

    #top-panel ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #top-panel ul li {
            display: inline;
            line-height: 20px;
        }

            #top-panel ul li a {
                padding-left: 19px;
                text-decoration: none;
                margin: 0 3px;
                display: inline-block;
            }

    #top-panel a:hover {
        text-decoration: underline;
    }
/*********************
		Other
*********************/

.a-right {
    text-align: right;
}

.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}

#pager {
    margin: 5px;
    height: 25px;
}

#styleswitcher {
    float: right;
}

    #styleswitcher ul {
        list-style: none;
        line-height: 10px;
        margin: 0;
    }

    #styleswitcher li {
        height: 12px;
        display: inline;
    }

#footer ul {
    list-style: none;
}

#footer li {
    display: inline;
}

a#defswitch {
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #bd3f09;
    font-size: 8px;
    color: #bd3f09;
    display: inline-block;
}

a#blueswitch {
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #375b91;
    font-size: 8px;
    color: #375b91;
    display: inline-block;
}

a#greenswitch {
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #d0e0b8;
    font-size: 8px;
    color: #d0e0b8;
    display: inline-block;
}

a#brownswitch {
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #654322;
    font-size: 8px;
    color: #654322;
    display: inline-block;
}

a#mixswitch {
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #294145;
    font-size: 8px;
    color: #294145;
    display: inline-block;
}

#credits {
    clear: both;
    width: 400px;
    float: left;
}
/*********************
		Tables
*********************/
/*********************
		Home
*********************/
#infowrap li {
    display: inline;
}

#infobox {
    width: 365px;
    float: left;
    margin-top: 10px;
    padding-bottom: 8px;
}

    #infobox h3 {
        padding: 5px;
        font-size: 14px;
    }

.margin-left {
    margin-left: 5px;
}

.rightnow .reallynow {
    padding: 5px;
    font-size: 14px;
}

.rightnow h3 {
    padding: 2px;
    padding: 0 10px;
    font-size: 14px;
}

.rightnow .reallynow span {
    display: block;
    text-align: left;
    float: left;
    padding: 0 2px;
    font-size: 14px;
}

.rightnow .reallynow a {
    text-decoration: none;
    display: block;
    text-align: right;
    float: right;
    padding: 0 0 0 18px;
    margin-left: 4px;
    font-weight: normal;
    font-size: 12px;
}

    .rightnow .reallynow a:hover {
        text-decoration: underline;
    }

.youhave {
    font-size: 12px;
    padding: 10px;
    line-height: 24px;
}

.rightnow a {
    font-weight: bold;
}

/*********************
	DIVS
*********************/

.leftdiv {
    display: block;
    width: 70%;
    float: left;
    margin-right: 5px;
    padding-left: 3px;
}

.rightdiv {
    display: block;
    width: 27%;
    text-align: right;
    float: right;
    text-align: center;
}

    .rightdiv a {
        font-weight: bold;
    }

.content {
    background: #FFF;
}

.sidebar {
    background: #FFF;
}

    .sidebar h3 {
        background: #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }

#topmenu a, #topmenu a:visited {
    color: #FFF;
    background: #868686;
}

    #topmenu a:hover {
        color: #666;
        background: #ededed;
    }

#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited {
    color: #222222;
    background: #FFF url(../Images/menu_bg.gif) repeat-x top;
}

#footer {
    background: #333;
    width: 100%;
    color: #fff;
}

#credits {
}

    #credits a {
        color: #fff;
        font-size: 8pt;
    }

#box {
    border: 1px solid #e7e7e7;
}

    #box h3 {
        background: #d9eaed;
        border-bottom: 1px solid #c3d7db;
        color: #294145;
    }
/***************
	Home
***************/
#infobox {
    border: 1px solid #e7e7e7;
}

    #infobox h3 {
        background: #f2f2f2;
        border-bottom: 1px solid #e7e7e7;
        color: #294145;
    }

.rightnow {
    border: 1px solid #e7e7e7;
}

    .rightnow .reallynow {
        background: #f2f2f2;
        color: #666666;
    }

    .rightnow h3 {
        background: #f2f2f2;
        border-bottom: 1px solid #e7e7e7;
    }

/*FORMS*/

.txtbox {
    width: 700px;
    border: 2px solid #e7e7e7;
    font-size: 14pt;
    padding: 4px;
    font-family: Trebuchet MS;
}

.sidetxtbox {
    width: 163px;
    border: 2px solid #e7e7e7;
    font-size: 10pt;
    font-family: Trebuchet MS;
    overflow: auto;
}

.txtboxarea {
    width: 706px;
    height: 400px;
    max-width: 706px;
}

.button {
    border: 1px solid blue;
    background-color: #e7e7e7;
    font-size: 14px;
    padding: 4px;
    text-decoration: none;
    color: #ff0000;
}

/*Widgets*/

.Widget {
    display: block;
    border: 4px solid #F4F4F4;
    margin: 5px;
    padding: 5px;
    line-height: 19px;
    margin-bottom: 10px;
    position: relative;
}

    .Widget .Left {
        display: block;
        float: left;
        width: 30%;
    }

    .Widget .Right {
        display: block;
        width: 48%;
        float: right;
        margin-right: 150px;
    }

    .Widget .Left img {
        border: 2px solid #F4F4F4;
        width: 200px;
        height: 130px;
        background-image: url("../../Resources/Images/WidgetPreview.jpg");
    }

    .Widget .Process {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 4px solid #F4F4F4;
        border-bottom: 4px solid #F4F4F4;
        padding: 3px;
        display: block;
        background-color: #FFFFFF;
        clear: both;
    }

/*Drag Drop Widget*/

.WDD ul {
    cursor: move;
    display: block;
    margin-top: 5px;
    padding: 0;
}

    .WDD ul li {
        background-color: #F4F4F4;
        border: 1px solid #E7E7E7;
        margin-top: 2px;
        padding: 3px;
        display: block;
        width: 159px;
        border-bottom: 2px solid #DDD;
        border-right: 2px solid #DDD;
    }

        .WDD ul li:hover {
            color: #333;
            background: #fff;
        }

/*BUTTON and INPUTS*/

.installbutton {
    border: 2px solid #3CD3E7;
    color: #FFFFFF;
    background-color: #70D6DB;
    margin: 0;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.uninstallbutton {
    border: 2px solid #DE0B05;
    color: #FFFFFF;
    background-color: #FD3614;
    margin: 0;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.normalbutton {
    background-color: #f4f4f4;
    border: 1px solid #b6b6b6;
    color: #666666;
    margin: 0;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

/*Default.aspx*/

.CommentCount {
    border: 1px solid #f4f4f4;
    margin: 0px;
    padding: 0px 3px;
    text-align: center;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 10px;
    background-color: #FF0000;
    color: White;
}

.feeddiv {
    display: block;
    padding: 6px;
    background-color: #fafafa;
    border: 1px solid #e7e7e7;
    min-height: 20px;
}

    .feeddiv .feedtitle {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .feeddiv a {
        text-decoration: none;
    }

    .feeddiv .feedleft {
        float: left;
        display: block;
        width: 200px;
    }

    .feeddiv .feedright {
        float: right;
        display: block;
        width: 200px;
    }

    .feeddiv .feedtitle {
        font-size: 11px;
        margin-bottom: 10px;
        text-decoration: none;
    }

    .feeddiv ul, .feeddiv ul li ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .feeddiv .feedcontent {
    }

.linkbutton {
    text-decoration: none;
    background-color: #f4f4f4;
    color: #666;
    font-weight: bold;
    padding: 6px 8px;
    display: inline-block;
    border: 2px solid #e7e7e7;
    text-align: center;
    vertical-align: middle;
}

.blockbutton {
    display: block !important;
    text-align: center !important;
}

.linkbutton:hover {
    background-color: #f8f8f8;
    color: #666666;
}

.div49left {
    width: 49%;
    display: block;
    float: left;
}

.font16color {
    border: 2px solid #e7e7e7;
    padding: 2px 4px;
    display: inline-block;
    margin-right: 5px;
    background-color: #ff0000;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family: Century Gothic;
}

.font14color {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    font-family: Century Gothic;
}

.font10color {
    color: #666666;
    font-size: 10px;
    font-weight: bold;
    font-family: Century Gothic;
}

.divProcess {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

/*TABLE CSS*/
table {
    background: none;
    border: 1px solid #e6e6e6;
    margin: 5px;
    border-collapse: collapse;
    table-layout: auto;
    width: 98%;
}

td {
    border: 1px solid #e6e6e6;
}

td, th {
    padding: 2px;
}

.thead {
    background: #f7f7f7;
}

th {
    border: 1px solid #e6e6e6;
}

.thead.col {
    background: #a6a6a6;
}

#content {
    width: 740px;
}

#sidebar {
    width: 160px;
}

    #sidebar ul {
        width: 150px;
    }

        #sidebar ul li ul {
            width: 140px;
        }

    #sidebar h3 {
        margin-bottom: 5px;
    }

#rightnow .reallynow a {
    padding: 0 0 0 10px;
}

.descinfo {
    font-size: 10px;
    color: gray;
    font-style: italic;
}

.clear {
    clear: both;
}

.blogsa-small-logo-white {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
    background: url('../Images/blogsa-small-logo.png') bottom left;
}
