.AF {
    background-color: white;
    position: absolute;
    z-index: 1000;
}

.zc .pc {
    border-collapse: collapse;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
}
.pc {
    background: none repeat scroll 0 0 #EFEFEF;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    height: 23px;
    padding: 4px 8px;
    vertical-align: middle;
}



ul.oV {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.zc .pc {
    border-collapse: collapse;
}

li.Tf.mT {
    margin-right: 0px;
}

li.Tf {
    display: block;
    list-style: none;
    margin: 0 6px;
}


.Fc {
    float: right;
}


li.Tf.dx {
    margin-left: 0px;
}


.Od {
    float: left;
}
.en, tr.en td {
    background: #EFEFEF;
    text-align: right;
}

.Ap {
    display: inline-block;
}

.zc label {
    color: #666;
    font-size: 11px;
    margin-right: 4px;
}

.en label {
    display: inline-block;
    zoom: 1;
    padding: 0 5px;
    vertical-align: middle;
}

.pc label {
    color: #666;
    font-size: 11px;
    margin-right: 4px;
}

.bstable-button-groups {
    background-color: #E8E8E8;
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    border: 1px solid #BBB;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    vertical-align: middle;
    border-image: initial;
}

.o, .Ef, .bstable-button-groups {
    display: inline-block;
}


ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}


.bstable-button-groups li:first-of-type {
    border-left: 0;
    -moz-box-shadow: inset 1px 0 #fff;
    -webkit-box-shadow: inset 1px 0 #fff;
    box-shadow: inset 1px 0 #fff;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.bstable-button-groups li:last-of-type {
    border-right: 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.bstable-button-groups li {
    border-top: 1px solid transparent;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid transparent;
    border-left: 1px solid white;
    color: #222;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 19px;
    line-height: 20px;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0px #EEE;
}

.bstable-left-button {
    background: url(prevArrow_ltr.gif) 50% 50% no-repeat;
    height: 100%;
    width: 10px;
}

.bstable-right-button {
    background: url(nextArrow_ltr.gif) 50% 50% no-repeat;
    height: 100%;
    width: 10px;
}

.qb-j {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #B0B0B0;
    cursor: default;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    z-index: 1000;
    border-image: initial;
}

.M .qb-j table {
    border-collapse: collapse;
    border-spacing: 0;
}



.Qb {
    cursor: pointer;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.M .qb-j td {
    padding: 0 2px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.M .M-_data {
    height: 19px;
    width: 19px;
}
span.nF {
    display: inline-block;
    margin: 1px 0 0 3px;
}

.M .M-_pie {
    height: 19px;
    width: 19px;
}

.M .M-_performance {
    height: 19px;
    width: 19px;
}

.M .M-_comparison {
    height: 19px;
    width: 19px;
}

.M .M-_pivot {
    height: 19px;
    width: 19px;
}

.zb.Fy {
    height: 19px;
    margin: 0;
    min-width: 0;
    padding: 1px 5px;
    vertical-align: middle;
}

.zb {
    background-color: #E8E8E8;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    border: 1px solid #BBB;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #222;
    cursor: pointer;
    padding: 3px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
    vertical-align: middle;
    white-space: nowrap;
    border-image: initial;
}

.zb, .Cf, .wb {
    font-size: 13px;
}

.zb, .Sd, .wb, .Cf {
    font-size: 100%;
    display: inline-block;
}

.M .M-_data {
    height: 19px;
    width: 19px;
}

.Sd {
    vertical-align: middle;
}

.zb, .Sd, .wb, .Cf {
    font-size: 100%;
    display: inline-block;
}

.Sd.pn {
    height: 4px;
    margin-left: 5px;
    width: 7px;
}

ul.Wc {
    border: 0 none;
    height: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-image: initial;
}

.b-y-C {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.b-y-C {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.Wc li.Jd {
    background-color: white;
    border-left: 1px solid #999;
}

.Wc li {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 21px;
    vertical-align: middle;
}

.Wc input[type="text"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    box-shadow: none;
    line-height: 20px;
    padding: 0 0 0 5px;
    border-image: initial;
}


input[type="text"], input[type="password"] {
    height: 19px;
}

.Wc li.ug {
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    line-height: 20px;
    min-width: 1px;
    padding: 0 3px 0 3px;
    vertical-align: middle;
}

.Wc li.ug .Sd {
    height: 12px;
    margin: 5px 4px;
    width: 13px;
}

.zc .o, .zc .ch {
    font-size: 12px;
}

.zc label {
    color: #666;
    font-size: 11px;
    margin-right: 4px;
}

.pc label {
    color: #666;
    font-size: 11px;
    margin-right: 4px;
}

label {
    cursor: default;
}
div.zb, span.zb {
    min-width: 50px;
}

.jw {
    color: black;
    padding-right: 4px;
}


.Sd.pn {
    height: 4px;
    margin-left: 5px;
    width: 7px;
}

ul.oV {
    list-style: none;
    margin: 0;
    padding: 0;
}

.g2 {
    background-color: white;
    border: 1px solid #B0B0B0;
    border-image: initial;
}


.se {
    padding: 10px;
}


.Tk {
    min-width: 680px;
    padding: 15px 10px;
    position: relative;
}



.sf span.Fq {
    font-weight: bold;
}

.sf span.Td {
    color: #738D68;
    font-weight: bold;
}

.sf span.Rg {
    color: #2F67B4;
    font-weight: bold;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] ::-webkit-file-upload-button, button {
    padding: 1px 6px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] ::-webkit-file-upload-button, button {
    -webkit-box-align: center;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image: initial;
    background-color: buttonface;
    box-sizing: border-box;
}

.Zg {
    position: absolute;
    z-index: 100;
}

.qc {
    background-color: #F7F7F7;
    border: 1px solid #BBB;
    padding: 3px;
    width: 200px;
    border-image: initial;
}

ul.Wc.mk {
    background: white;
    border-top: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

ul.Wc {
    border: 0 none;
    height: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-image: initial;
}

.Wc.mk li.Jd {
    background-color: white;
    border: none;
    border-image: initial;
}

.Wc.mk li {
    border: none;
    border-image: initial;
}

.Wc li.Jd {
    background-color: white;
    border-left: 1px solid #999;
}

.Wc li {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 21px;
    vertical-align: middle;
}
.qc input[type="text"] {
    width: 173px !important;
}


.Wc.mk .SG {
    border: none;
    height: 21px;
    margin-right: 4px;
    width: 14px;
    border-image: initial;
}

.qy {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    padding: 2px 10px 2px 5px;
}

.z5 {
    overflow: auto;
}

.tS {
    cursor: pointer;
    font-weight: bold;
    padding: 0 3px 0 5px;
}

.pj.qc-_DIMENSION {
    color: #738D68;
}

.pj {
    padding: 3px;
}

.Ar span {
    height: 7px;
    margin: 0 3px 2px 0;
    width: 4px;
}

.Vd.qc-_DIMENSION {
    border: 1px solid #738D68;
    background-color: #DAE2CB;
    color: #738D68;
    border-image: initial;
}

.Vd.LU {
    margin: 1px 1px 1px 10px;
}

.Vd {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 4px 3px 4px 5px;
    position: relative;
}

.ZT {
    display: inline-block;
    width: 85%;
}

.Fp {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -9px;
    width: 15px;
}

.Fp .m-p-Dc {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.m-p-Dc {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.pj.qc-_METRIC {
    color: #2F67B4;
}

.Ar span {
    height: 7px;
    margin: 0 3px 2px 0;
    width: 4px;
}


.Vd.qc-_METRIC {
    border: 1px solid #2F67B4;
    background-color: #C5DCFE;
    color: #2F67B4;
    border-image: initial;
}

.Vd.LU {
    margin: 1px 1px 1px 10px;
}

.Vd {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 4px 3px 4px 5px;
    position: relative;
}

.ZT {
    display: inline-block;
    width: 85%;
}

.Fp {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -9px;
    width: 15px;
}

.Fp .m-p-Dc {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.m-p-Dc {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}


.M7 {
    border-collapse: collapse;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0;
}

.pV {
    float: right;
}
.Ap {
    display: inline-block;
}

.en select {
    height: 24px;
    vertical-align: middle;
}

.en input[type="text"] {
    background: white;
    border-top: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    box-shadow: inset 0 1px 0 #d6d6d6;
    -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    color: black;
    font: normal 12px Arial;
    height: 20px;
    margin: 0;
    padding-left: 5px;
    vertical-align: middle;
    width: 25px;
}


.zb:hover {
    border: 1px solid #999;
}
.zb.B, .zb:disabled, .zb:hover.B, .zb:hover:disabled {
    background: #f3f3f3;
    border: 1px solid #ddd;
    color: #ccc;
    cursor: default;
}
.zb:active {
    background-color: #c8c8c8;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#d8d8d8),to(#bdbdbd));
    background-image: -moz-linear-gradient(top,#d8d8d8,#bdbdbd);
    border: 1px solid #999;
}
.zb.fg {
    border: 1px solid #b00;
    -moz-box-shadow: 0 0 3px #b00;
    -webkit-box-shadow: 0 0 3px #b00;
    box-shadow: 0 0 3px #b00;
}
