.image-button
{
    display: inline-block;
    padding-left: 20px;
    position: absolute;
    left: 10px;
    top: 15px;
}
.media-overlay
{
    background: #666;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
}
.media-browser h3
{
    display: block;
    padding: 8px 8px;
}
.media-browser
{
    border: 4px solid #e7e7e7;
    background: #fff;
    padding: 5px;
    width: 600px;
    height: 360px;
    position: fixed;
    margin: 0 auto;
    z-index: 1001;
    display: none;
    overflow: auto;
}
.media-content
{
    height: 320px;
    border: 1px solid #e7e7e7;
    display: block;
    overflow: auto;
}
.tab-change
{
    padding: 5px 7px;
    display: inline-block;
    background: #666;
    border: 1px solid #ccc;
    border-bottom: 0;
    color: #fff !important;
    margin-right: 5px;
}
#boxclose
{
    position: absolute;
    right: 14px;
    top: 13px;
}
.mce_autosavecall img
{
    width: 20px !important;
    height: 20px !important;
}

.tinymce_actions
{
    position: relative;
    display: block;
    height: 26px;
    width: 708px;
}

.add-image.image-button
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.tinymce_tab_holder
{
    display: block;
    position: absolute;
    right: 5px;
    float: right;
}

.tinymce_tabs
{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.tinymce_tabs li
{
    float: left;
    margin-left: 5px;
}

.tinymce_tabs li a
{
    display: block;
    padding: 5px 8px;
    background: #ddd;
    border: 1px solid #CCC;
    border-bottom: 0;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

.tinymce_tabs li a:hover, .tinymce_tabs li a.selected
{
    background: #f4f4f4;
    color: #333;
}

.tinymce_tabs li a span
{
    display: block;
}

.mediabrowser-tab
{
    height: 370px;
}
